.container{
    width: 96%;
    margin: 0 auto;
}

.campo{
    text-align: center;
    margin-bottom: 20px;
  }

.campo .campo-label{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

.campo .campo-input{
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #48A3A6;
  }

.botao {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 25px 50px;
    background-color: #48A3A6;
    border-radius: 8px;
  }