.header{
    background: url(../img/destaque.jpeg) no-repeat;
    background-size: cover;
    padding-top: 30px; 
}

.header .barra-nav{
    text-align: center;
}

.header .barra-nav .barra-item{
    display: inline-block;
    margin: 0 2px 30px 0;
}

.header .barra-nav .barra-item a{
    color: white;
    padding: 14px;
    background: rgba(61, 61, 61, 0.233);
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.5s;
}

.header .barra-nav .barra-item a:hover{
    background-color: #48A3A6;
}

.header .jumbotron{
    text-align: center;
    padding: 0 0 46px 0;
    text-transform: uppercase;
}

.header .painel-principal{
    color: white;
    text-shadow: 4px 4px 8px black;
}

.header .jumbotron .titulo{
    font-size: 3em;
}

.header .jumbotron .sub-titulo{
    font-size: 2.6em;
    color: #64FF64;
    margin-top: 8px;
}

  .header .jumbotron .painel-secundario{
    margin-top: 28px;
}

@media(min-width: 650px){
    .header .jumbotron{
        font-size: 28px;
    }
}